<!-- Navbar Begin -->
<nav class="navbar navbar-expand-sm navbar-light bg-light" >
  <a class="navbar-brand" href="#"
    ><img src="../assets/Images/visioinPlusLogo.png"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
    </ul>
  </div>
  <div class="navbar-second-container text-light">
    <h6>Welcome: Admin</h6>
    <button class="btn btn-outline-warning btn-sm mx-2">Logout</button>
  </div>
</nav>
<!-- Navbar End -->

<!-- sidebar begin -->
<app-side-nav></app-side-nav>
<!-- sidebar End -->
<div class="container-fluid quote wow fadeIn" data-wow-delay="0.1s"
style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
<router-outlet></router-outlet>
</div>


<!-- Footer Begin-->

<!-- Footer End-->